.container {
    width: min(100%, 1400px);
    margin: auto
}

/* header */
header {
    display: flex;
    background-color: #372D23;
    padding: 32px 80px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    display: flex;
    column-gap: 48px;
    flex-wrap: wrap;
}

.active,
.inactive {
    color: #FCC21B;
    font-size: 24px;

}

.active {
    color: #ED6C30;
}

.fa-solid {
    color: #FCC21B;
    font-size: 40px;
}